$primary-slate-blue: #7d5dff;
$primary-violet: #ea6df8;
$primary-coral: #ef8869;
$primary-maize: #fbe64d;
$primary-emerald: #63cc79;
$primary-azure: #067ff3;
$primary-lavender: #ffb7f1;
$primary-jonquil: #f7cd1b;
$primary-mint: #07b682;
$primary-melon: #ffa88f;
$primary-dune: #eee1e0;
$primary-red-rum: #f74a4a;

$secondary-slate-blue: #ebe5ff;
$secondary-violet: #fbe7fe;
$secondary-coral: #fadad1;
$secondary-maize: #fef8cd;
$secondary-emerald: #d9f2de;
$secondary-azure: #cde6fe;
$secondary-lavender: #ffe5fa;
$secondary-jonquil: #fdf4ce;
$secondary-mint: #cefdef;
$secondary-melon: #ffebe5;
$secondary-dune: #f6efef;
$neutral-00: #ffffff;
$neutral-01: #f9f9f9;
$neutral-02: #f4f4f4;
$neutral-03: #efefef;
$neutral-04: #7f868d;
$neutral-05: #535557;
$neutral-06: #272b30;
$neutral-07: #1a1d1f;
$neutral-08: #111315;
