* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}

.nav_button_active {
  padding: 12px;
  border-radius: 12px;
  background-color: #efefef;
  height: 48px;
  cursor: pointer;
  color: #1a1d1f;
}

.nav_button {
  padding: 12px;
  border-radius: 12px;
  height: 48px;
  cursor: pointer;
  color: #1a1d1f;
  transition: 0.3ms;
}

.nav_button:hover {
  background-color: #efefef;
}

.nav_button:active {
  color: #535557;
}

.label-form {
  display: flex;
  text-align: left;
  font-weight: 600;
  color: black;
  padding-bottom: 10px;
  line-height: 24px;
  font-size: 14px;
}

.input-form {
  height: 48px;
  border-radius: 12px;
  color: black;
}

#modal-profile .uk-modal-body {
  max-height: 510px !important;
}
