@import "./variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --title-neutral-07-color: #1a1d1f;
  --title-neutral-06-color: #272b30;
  --title-neutral-04-color: #7f868d;
  --title-neutral-02-color: #f4f4f4;
  --primary-color-blue: #067ff3;
}

svg > path {
  fill: currentColor;
}

p {
  margin: 0;
}

.title1-bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: $neutral-07;
}

.title2-semibold {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: $neutral-07;
}

.body1-semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: $neutral-07;
}

.body1-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: $neutral-07;
}

.body1-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: $neutral-07;
}

.body2-semibold {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: $neutral-07;
}

.body2-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: $neutral-07;
}

.body2-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $neutral-07;
}

.caption-semibold {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: $neutral-07;
}

.caption-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: $neutral-07;
}

.caption-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: $neutral-07;
}

.button1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: $neutral-07;
}
.button2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: $neutral-07;
}
.button-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: $neutral-07;
}

/* Header */
.nav_button_active {
  padding: 12px;
  border-radius: 12px;
  background-color: #efefef;
  height: 48px;
  cursor: pointer;
  color: #1a1d1f;
}

.nav_button {
  padding: 12px;
  border-radius: 12px;
  height: 48px;
  cursor: pointer;
  color: #1a1d1f;
  transition: 0.3ms;
}

.nav_button:hover {
  background-color: #efefef;
}

.nav_button:active {
  color: #535557;
}

.label-form {
  display: flex;
  text-align: left;
  font-weight: 600;
  color: black;
  padding-bottom: 10px;
  line-height: 24px;
  font-size: 14px;
}

.input-form {
  height: 48px;
  border-radius: 12px;
  color: black;
}

#modal-profile .uk-modal-body {
  max-height: 510px !important;
}

.btn-icon {
  background-color: transparent;
  transition: 0.3s;
}

.btn-icon:hover {
  background-color: #efefef;
}

/* Header notification */
.noti_item {
  display: flex;
  width: 100%;
  height: 100%;
}

.noti_item_icon {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex: none;
}

.noti_item_content {
  margin-left: 12px;
  width: 100%;
}

.noti_item_title {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  padding-bottom: 4px;
  color: var(--title-neutral-07-color);
  display: flex;
  justify-content: space-between;
}

.noti_item_desc_block {
  padding: 12px;
  border-radius: 8px;
  background-color: var(--title-neutral-02-color);
  margin-top: 4px;
  text-align: left;
}

.noti_item_desc_block_title {
  color: var(--title-neutral-06-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}
.noti_item_desc_block_content {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 4px;
  color: var(--title-neutral-07-color);
}

.noti_item_time {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title-neutral-04-color);
}

.noti_item_active {
  content: "";
  width: 10px;
  height: 10px;
  display: flex;
  flex: none;
  border-radius: 100%;
  margin-left: 8px;
  background-color: var(--primary-color-blue);
  color: var(--primary-color-blue);
}

.noti_item_desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--title-neutral-06-color);
  text-align: left;
}

#modal-profile,
#modal-course-content,
modal-watch-video {
  z-index: 9999999;
}

.divider-vertical {
  width: 2px;
  height: 20px;
  background-color: $neutral-04;
}

.modal-content {
  &-title {
    padding: 12px;
    border-radius: 8px;
    background-color: $neutral-01;
    border: 1px solid $neutral-03;
    text-align: left;
  }

  &-video {
    max-height: 306px;
    width: 100%;
    height: 100%;
    border-radius: 8px;

    &-button {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      cursor: pointer;
    }
  }
}

.btn-teacher {
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;

  &:hover {
    background-color: $neutral-02;
  }
}

@mixin tag-style {
  height: 24px;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: $neutral-00;
}

.tag-progress-already {
  @include tag-style;
  background-color: $primary-mint;
}

.tag-progress-cancel {
  @include tag-style;
  background-color: $primary-red-rum;
}

.tag-progress-not {
  @include tag-style;
  background-color: $neutral-03;
  color: $neutral-06;
}

.tag-progress-missing {
  @include tag-style;
  background-color: $neutral-04;
}

// News start

#news-in-home {
  .uk-subnav-pill > .uk-active > a {
    color: $neutral-00;
    background-color: $neutral-05;
    @extend .body2-semibold;
    border: 1px solid $neutral-03;
  }
}
.news {
  &-switcher {
    &-tag {
      border-radius: 20px;
      margin-right: 8px;
      padding: 8px 16px !important;
      text-transform: none !important;
      color: $neutral-05;
      background-color: $neutral-01;
      border: 1px solid $neutral-03;

      @extend .body2-regular;
    }
  }

  &-card {
    border: 1px solid $neutral-03;
    border-radius: 12px;

    &-image {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      height: 160px;
      width: 100%;
      object-fit: cover;
    }

    &-tag {
      padding: 4px 8px;
      height: 24px;
      border-radius: 20px;
      background-color: $neutral-03;

      @extend .caption-semibold;
    }
  }

  &-modal {
    &-tag {
      padding: 4px 8px;
      height: 28px;
      border-radius: 20px;
      background-color: $neutral-03;

      @extend .body2-semibold;
    }
  }
}

// class start

.class {
  height: calc(100vh - 80px);
  // height: 100%;
  // overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

.student-card {
  width: 100%;
  border-radius: 16px;
  position: relative;

  &-image {
    border-radius: 16px;
    width: 100%;
    object-fit: cover;
  }

  &-desc {
    position: absolute;
    padding: 0 16px 16px 16px;

    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgb(0, 0, 0, 0.8)
    );
    border-radius: 16px;
  }

  &-small {
    width: 100%;
    border-radius: 16px;
    position: relative;

    &-image {
      border-radius: 16px;
      width: 100%;
      object-fit: cover;
      aspect-ratio: 210 / 126;
    }

    &-desc {
      position: absolute;
      padding: 0 8px 8px 8px;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0),
        rgb(0, 0, 0, 0.8)
      );
      border-radius: 16px;
    }
  }
}

.chat {
  display: none;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid $neutral-03;
  }

  &-body {
    max-height: calc(100vh - 216px);
    height: 100%;
    overflow: auto;
  }
  &-footer {
    height: 80px;
    display: flex;
    width: 100%;
    padding: 12px 16px;
    border-top: 1px solid $neutral-03;
  }
  &-message {
    &-content {
      border-radius: 20px;
      padding: 10px 12px;
      margin-left: 15px;
      margin-right: 7px;
      width: 245px;
      //   width: 100%;
      background-color: $neutral-02;
      position: relative;

      @extend .body2-regular;

      &-arrow {
        position: absolute;
        bottom: 0;
        left: -7px;
      }

      &-arrow-me {
        position: absolute;
        bottom: 0;
        right: -7px;
      }

      &-time {
        //   position: absolute;
        //   bottom: 6px;
        //   right: 12px;
        color: $neutral-05;
        font-size: 10px;
        text-align: end;
        line-height: 10px;
      }
    }
  }
}

.btn-primary-custom {
  @extend .button1;
  height: 44px;
  width: 100%;
  border-radius: 10px;
  padding-left: 16px;
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: red;
  cursor: pointer;

  transition: 0.3s;
  &:hover {
    opacity: 0.9;
  }
}

.uk-width-expand > :not(:last-child) {
  margin-bottom: 8px;
}

// class end

//practice start

.practice-card {
  padding: 8px;
  border-radius: 20px;
  background-color: $neutral-00;
  justify-content: start;
}

//practice end
.tag-practice {
  @include tag-style;
  background-color: $primary-azure;
  margin-right: 4px;
}

// Login
.login-input {
  @extend .input-form;
  height: 56px;
  &-error {
    @extend .login-input;
    border: 2px solid $primary-red-rum;
  }
}

// Course
.class {
  &-sub-title {
    @extend .body1-semibold;

    color: $neutral-04;
  }
}

.class-card {
  border: 1px solid $neutral-03;
  border-radius: 12px;

  &-header {
    height: 48px;
    border-radius: 8px 8px 0 0;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;

    &-in-schedule {
      @extend .class-card-header;

      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      border-bottom: 1px solid $neutral-03;
    }
  }
  &-content {
    padding: 24px;
  }
}
