* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --title-neutral-07-color: #1a1d1f;
  --title-neutral-06-color: #272b30;
  --title-neutral-04-color: #7f868d;
  --title-neutral-02-color: #f4f4f4;
  --primary-color-blue: #067ff3;
}

p {
  margin: 0;
}

.title1-bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #1a1d1f;
}

.title2-semibold {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #1a1d1f;
}

.body1-semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #1a1d1f;
}

.body1-medium {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #1a1d1f;
}

.body1-regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #1a1d1f;
}

.body2-semibold, .news-modal-tag, #news-in-home .uk-subnav-pill > .uk-active > a {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #1a1d1f;
}

.body2-medium {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #1a1d1f;
}

.body2-regular, .chat-message-content, .news-switcher-tag {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #1a1d1f;
}

.caption-semibold, .news-card-tag {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: #1a1d1f;
}

.caption-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #1a1d1f;
}

.caption-regular {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #1a1d1f;
}

.button1, .btn-primary-custom {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #1a1d1f;
}

.button2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #1a1d1f;
}

.button-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #1a1d1f;
}

.class-card {
  border: 1px solid #efefef;
  border-radius: 12px;
  margin-top: 16px;
}
.class-card-header {
  height: 48px;
  border-radius: 8px 8px 0 0;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
}
.class-card-content {
  padding: 24px;
}

/* Header */
.nav_button_active {
  padding: 12px;
  border-radius: 12px;
  background-color: #efefef;
  height: 48px;
  cursor: pointer;
  color: #1a1d1f;
}

.nav_button {
  padding: 12px;
  border-radius: 12px;
  height: 48px;
  cursor: pointer;
  color: #1a1d1f;
  transition: 0.3ms;
}

.nav_button:hover {
  background-color: #efefef;
}

.nav_button:active {
  color: #535557;
}

.label-form {
  display: flex;
  text-align: left;
  font-weight: 600;
  color: black;
  padding-bottom: 10px;
  line-height: 24px;
  font-size: 14px;
}

.input-form {
  height: 48px;
  border-radius: 12px;
  color: black;
}

#modal-profile .uk-modal-body {
  max-height: 510px !important;
}

.btn-icon {
  background-color: transparent;
  transition: 0.3s;
}

.btn-icon:hover {
  background-color: #efefef;
}

/* Header notification */
.noti_item {
  display: flex;
  width: 100%;
  height: 100%;
}

.noti_item_icon {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex: none;
}

.noti_item_content {
  margin-left: 12px;
  width: 100%;
}

.noti_item_title {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  padding-bottom: 4px;
  color: var(--title-neutral-07-color);
  display: flex;
  justify-content: space-between;
}

.noti_item_desc_block {
  padding: 12px;
  border-radius: 8px;
  background-color: var(--title-neutral-02-color);
  margin-top: 4px;
  text-align: left;
}

.noti_item_desc_block_title {
  color: var(--title-neutral-06-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}

.noti_item_desc_block_content {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 4px;
  color: var(--title-neutral-07-color);
}

.noti_item_time {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--title-neutral-04-color);
}

.noti_item_active {
  content: "";
  width: 10px;
  height: 10px;
  display: flex;
  flex: none;
  border-radius: 100%;
  margin-left: 8px;
  background-color: var(--primary-color-blue);
  color: var(--primary-color-blue);
}

.noti_item_desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--title-neutral-06-color);
  text-align: left;
}

#modal-profile,
#modal-course-content,
modal-watch-video {
  z-index: 9999999;
}

.divider-vertical {
  width: 2px;
  height: 20px;
  background-color: #7f868d;
}

.modal-content-title {
  padding: 12px;
  border-radius: 8px;
  background-color: #f9f9f9;
  border: 1px solid #efefef;
  text-align: left;
}
.modal-content-video {
  max-height: 306px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.modal-content-video-button {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.btn-teacher {
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;
}
.btn-teacher:hover {
  background-color: #f4f4f4;
}

.tag-progress-already {
  height: 24px;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #ffffff;
  background-color: #07b682;
}

.tag-progress-cancel {
  height: 24px;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #ffffff;
  background-color: #f74a4a;
}

.tag-progress-not {
  height: 24px;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #ffffff;
  background-color: #efefef;
  color: #272b30;
}

.tag-progress-missing {
  height: 24px;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #ffffff;
  background-color: #7f868d;
}

#news-in-home .uk-subnav-pill > .uk-active > a {
  color: #ffffff;
  background-color: #535557;
  border: 1px solid #efefef;
}

.news-switcher-tag {
  border-radius: 20px;
  margin-right: 8px;
  padding: 8px 16px !important;
  text-transform: capitalize !important;
  color: #535557;
  background-color: #f9f9f9;
  border: 1px solid #efefef;
}
.news-card {
  border: 1px solid #efefef;
  border-radius: 12px;
}
.news-card-image {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 160px;
  width: 100%;
  object-fit: cover;
}
.news-card-tag {
  padding: 4px 8px;
  height: 24px;
  border-radius: 20px;
  background-color: #efefef;
}
.news-modal-tag {
  padding: 4px 8px;
  height: 28px;
  border-radius: 20px;
  background-color: #efefef;
}

.class {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  width: 100%;
}

.student-card {
  width: 100%;
  border-radius: 16px;
  position: relative;
}
.student-card-image {
  border-radius: 16px;
  width: 100%;
  object-fit: cover;
}
.student-card-desc {
  position: absolute;
  padding: 0 16px 16px 16px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
  border-radius: 16px;
}
.student-card-small {
  width: 100%;
  border-radius: 16px;
  position: relative;
}
.student-card-small-image {
  border-radius: 16px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 210/126;
}
.student-card-small-desc {
  position: absolute;
  padding: 0 8px 8px 8px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
  border-radius: 16px;
}

.chat {
  display: none;
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #efefef;
}
.chat-body {
  max-height: calc(100vh - 216px);
  height: 100%;
  overflow: auto;
}
.chat-footer {
  height: 80px;
  display: flex;
  width: 100%;
  padding: 12px 16px;
  border-top: 1px solid #efefef;
}
.chat-message-content {
  border-radius: 20px;
  padding: 10px 12px;
  margin-left: 15px;
  margin-right: 7px;
  width: 245px;
  background-color: #f4f4f4;
  position: relative;
}
.chat-message-content-arrow {
  position: absolute;
  bottom: 0;
  left: -7px;
}
.chat-message-content-arrow-me {
  position: absolute;
  bottom: 0;
  right: -7px;
}
.chat-message-content-time {
  color: #535557;
  font-size: 10px;
  text-align: end;
  line-height: 10px;
}

.btn-primary-custom {
  height: 44px;
  width: 100%;
  border-radius: 10px;
  padding-left: 16px;
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: red;
  cursor: pointer;
  transition: 0.3s;
}
.btn-primary-custom:hover {
  opacity: 0.9;
}

.uk-width-expand > :not(:last-child) {
  margin-bottom: 8px;
}

.practice-card {
  padding: 8px;
  border-radius: 20px;
  background-color: #ffffff;
  justify-content: start;
}

.tag-practice {
  height: 24px;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #ffffff;
  background-color: #067ff3;
  margin-right: 4px;
}

/*# sourceMappingURL=style.css.map */
