@use "mixin" as *;
@use "common";

.about {
  &-proud {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 80px 0 0 0;

    @include maxw(780) {
      padding: 40px 0 0 0;
    }

    &-container {
      display: flex;
      align-items: end;
      gap: 54px;

      @include maxw(768) {
        flex-direction: column-reverse;
        margin: 16px 0 0 0;
        gap: 24px;
      }

      &.top {
        @include maxw(768) {
          flex-direction: column;
        }
      }
    }

    &-body {
      @extend .container;

      display: grid;
      grid-template-columns: auto auto auto;
      gap: 16px;

      @include maxw(780) {
        display: block;
        gap: 16px;
      }

      & > :not(:last-child) {
        @include maxw(780) {
          margin-bottom: 16px;
        }
      }
    }

    &-card {
      height: fit-content;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 24px;
      color: white;
      display: flex;
      flex-direction: column;

      @include maxw(780) {
        padding: 16px;
        width: 100%;
        max-width: 100%;
      }

      & > :not(:last-child) {
        margin-bottom: 8px;

        @include maxw(780) {
          margin-bottom: 0px;
        }
      }

      &-icon {
        width: 80px;
        height: 80px;
        @include maxw(780) {
          width: 48px;
          height: 48px;
        }
      }

      &-title {
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 100% */
        color: #4ab749;

        @include maxw(1180) {
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 48px; /* 150% */
        }
      }

      &-desc {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 133.333% */
        color: #272b30;

        @include maxw(1180) {
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 150% */
        }
      }
    }

    &-teacher {
      &-card {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 12px;
        background-color: white;

        &-img {
          width: 100%;
          height: 220px;
          object-fit: cover;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
        }

        &-content {
          width: 100%;
        }

        &-name {
          color: #272b30;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px; /* 160% */
        }

        &-desc {
          color: #57595c;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }

        &-role {
          margin-top: 8px;
          color: #57595c;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 133.333% */
          min-height: 48px;
        }

        &-width {
          & > * {
            width: calc(100% / 4.6);
          }
          @include maxw(768) {
            & > * {
              width: calc(100% / 1.3);
            }
          }
        }
      }
    }
  }
  &-proof {
    position: relative;
    background-image: url(/public/about-us/2-bg.svg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    padding: 85px 0 120px 0;

    @include maxw(780) {
      padding: 68px 0 88px 0;
      background-image: url(/public/about-us/2-bg-mobile.svg);
      background-size: cover;
      background-position: bottom;
    }

    &-container {
      display: flex;
      align-items: end;
      gap: 54px;

      @include maxw(768) {
        flex-direction: column-reverse;
        margin: 16px 0 0 0;
        gap: 24px;
      }

      &.top {
        @include maxw(768) {
          flex-direction: column;
        }
      }
    }

    &-body {
      @extend .container;

      display: grid;
      grid-template-columns: auto auto;
      gap: 24px;

      @include maxw(780) {
        grid-template-columns: auto;
      }
    }

    &-card {
      display: flex;
      padding: 48px 32px;
      flex-direction: column;
      gap: 20px;
      flex: 1 0 0;
      border-radius: 20px;
      background: #fff;

      &-title {
        color: #339316;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px; /* 160% */

        @include maxw(1180) {
          color: #339316;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 48px; /* 150% */
        }
      }

      &-desc {
        color: #57595c;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 160% */

        @include maxw(1180) {
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 32px; /* 177.778% */
        }
      }
    }

    &-teacher {
      &-card {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 12px;
        background-color: white;

        &-img {
          width: 100%;
          height: 220px;
          object-fit: cover;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
        }

        &-content {
          width: 100%;
        }

        &-name {
          color: #272b30;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px; /* 160% */
        }

        &-desc {
          color: #57595c;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px; /* 150% */
        }

        &-role {
          padding-top: 8px;
          color: #57595c;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 133.333% */
          min-height: 48px;
        }

        &-width {
          & > * {
            width: calc(100% / 4.6);
          }
          @include maxw(768) {
            & > * {
              width: calc(100% / 1.3);
            }
          }
        }
      }
    }
  }
}
