@use "mixin" as *;
@use "common";

.recommend {
  &-body {
    background-image: url(/public/recommned/bg.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 24px 0;

    @include maxw(780) {
      background-image: url(/public/recommned/bg-mobile.png);
      padding: 16px 0;
    }
  }

  &-container {
    max-width: 1392px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;

    @include maxw(780) {
      padding-left: 16px;
      padding-right: 16px;
      gap: 16px;
    }
  }

  &-card {
    backdrop-filter: blur(30px);
    display: flex;
    padding: 48px 64px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 16px;

    @include maxw(780) {
      padding: 32px 24px;
    }
  }

  .first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    @include maxw(960) {
      grid-template-columns: auto;
      gap: 16px;
    }

    &-card {
      background-image: url(/public/recommned/1-bg.png);
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover;
      overflow: hidden;
    }

    &-logo {
      width: 175px;

      @include maxw(960) {
        width: 114px;
      }
    }

    &-title {
      color: #ff9914;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px; /* 133.333% */
      padding: 32px 0 12px 0;

      @include maxw(960) {
        padding: 24px 0 12px 0;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 150% */
      }
    }

    &-desc {
      color: #272b30;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; /* 180% */
      padding-bottom: 32px;

      @include maxw(960) {
        padding-bottom: 24px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
      }
    }

    &-image {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      object-fit: cover;
    }
  }

  .second {
    padding: 64px 0;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(30px);
    border-radius: 12px;

    @include maxw(960) {
      padding: 32px 0;
    }

    &-title {
      color: #ff9914;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; /* 100% */

      @include maxw(960) {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 150% */
      }
    }

    &-desc {
      color: #ff9914;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 48px; /* 150% */
      padding: 8px 0 48px 0;

      @include maxw(960) {
        padding: 8px 0 24px 0;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 160% */
      }
    }

    &-content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px;

      @include maxw(960) {
        grid-template-columns: 1fr;
      }
    }

    &-card {
      padding: 0 48px;

      @include maxw(960) {
        padding: 0 40px;
      }

      &.dashed {
        border-left: 1.5px dashed #9fa59e;
        border-right: 1.5px dashed #9fa59e;

        @include maxw(960) {
          border: none;
        }
      }

      &-icon {
        width: 64px;
        height: 64px;

        @include maxw(960) {
          width: 48px;
          height: 48px;
        }
      }
      &-title {
        padding-top: 16px;
        color: #4ab749;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */

        @include maxw(960) {
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px; /* 160% */
        }
      }
      &-desc {
        color: #272b30;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 160% */

        @include maxw(960) {
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 150% */
        }
      }
    }
  }

  .third {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    @include maxw(960) {
      grid-template-columns: auto;
      gap: 16px;
    }

    &-card {
      backdrop-filter: blur(30px);
      background: rgba(255, 255, 255, 0.75);
    }

    &-title {
      color: #4ab749;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; /* 100% */

      @include maxw(960) {
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 150% */
      }
    }

    &-desc {
      padding-top: 32px;
      color: #272b30;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px; /* 150% */

      @include maxw(960) {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 160% */
      }
    }

    &-image {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      object-fit: cover;
    }
  }

  .fourth {
    padding: 64px 156px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.75);
    border-radius: 12px;

    @include maxw(960) {
      padding: 24px;
    }

    &-title {
      color: #ff9914;
      text-align: center;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; /* 100% */

      @include maxw(960) {
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; /* 150% */
      }
    }
    &-link {
      display: flex;
      align-items: center;
      gap: 24px;
      padding: 48px 0;
      border-bottom: 1.5px dashed #9fa59e;

      @include maxw(960) {
        gap: 16px;
        flex-direction: column;
        padding: 24px 0;
      }

      &-input {
        flex: 1 1 0%;
        display: flex;
        padding: 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        align-self: stretch;
        border-radius: 50px;
        border: 2px solid #e2e2e2;
        background: #fff;
        height: 72px;

        color: black !important;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px; /* 180% */

        @include maxw(960) {
          height: 64px;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px; /* 177.778% */
        }
      }
    }
    &-btn {
      width: fit-content;
      display: flex;
      padding: 24px;
      justify-content: center;
      align-items: center;
      gap: 16px;
      align-self: stretch;
      border-radius: 100px;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      height: 72px;

      @include maxw(960) {
        width: 100%;
        height: 68px;
      }

      &.primary {
        background: #4ab749;
        color: #fff;
        border: none;
      }
      &.secondary {
        color: #57595c;

        border: 2px solid #9fa59e;
      }
    }

    &-desc {
      padding: 48px 0 24px 0;
      color: #272b30;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; /* 180% */
      max-width: 650px;

      @include maxw(960) {
        padding: 24px 0;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
      }
    }

    &-form {
      display: flex;
      align-items: end;
      gap: 24px;

      @include maxw(960) {
        flex-direction: column;
        gap: 16px;
      }

      & > div {
        width: 100%;
      }

      &-label {
        color: #272b30;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        padding-bottom: 8px;
      }
      &-input {
        flex: 1 1 0%;
        display: flex;
        padding: 16px 24px;
        align-items: center;
        gap: 12px;
        align-self: stretch;
        border-radius: 100px;
        border: 1.5px solid #e2e2e2;
        background: #fff;
        height: 56px;
      }
      &-btn {
        display: flex;
        width: 120px;
        height: 56px;
        padding: 24px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 160% */
        border-radius: 100px;
        border: none;
        background: #4ab749;

        @include maxw(960) {
          width: 100%;
        }
      }
    }

    &-icon {
      width: 32px;
      height: 32px;
      margin-right: 16px;

      @include maxw(960) {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }
  }
}
