.roadmap {
  padding: 100px 0;
  position: relative;
  overflow: hidden;

  @include maxw(768) {
    padding: 24px 0;
  }

  &-bg-round {
    position: absolute;
    bottom: 4%;
    z-index: -1;
    height: 1100px;
    aspect-ratio: 1 / 1;

    @include maxw(960) {
      height: 690px;
      aspect-ratio: 1 / 1;
      top: 0;
      right: 0;
    }

    right: -14%;
  }
  &-container {
    @extend .container;
    @include maxw(960) {
      padding: 0 !important;
    }
  }
  &-title {
    @extend .commit-title;
    max-width: 962px;
    width: 100%;
    margin-bottom: 24px;
    @include maxw(768) {
      margin-bottom: 4px;
    }
  }
  &-sub-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 34.8px;
    color: #000000a6;
    max-width: 1120px;
    text-align: center;

    @include maxw(768) {
      font-size: 16px;
      font-weight: 400;
      line-height: 23.2px;
      color: #000000cc;
    }
  }
  &-content {
    height: 200px;
    background-color: yellow;
    margin: 48px 0 60px 0;
    @include maxw(768) {
      margin: 24px 0;
    }
  }
  &-desc-wrapper {
    position: relative;
    margin-right: 30px;

    & > :not(:last-child) {
      margin-bottom: 23px;
    }

    & :not(:last-child)::after {
      border-left: 2px solid #fdb22480;
      content: "";
      height: 30%;
      left: 17px;
      position: absolute;
      top: 1;
      z-index: -1;
    }

    @include maxw(768) {
      margin-right: 0;
      padding: 0 16px;

      & :not(:last-child)::after {
        border-left: 2px solid #fdb22480;
        content: "";
        height: 30%;
        left: 26px;
        position: absolute;
        top: 1;
        z-index: -1;
      }
    }

    @include maxw(768) {
      & > :not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  &-desc {
    display: flex;
    align-items: center;
    padding-bottom: 60px;

    @include maxw(960) {
      flex-direction: column;
    }

    @include maxw(768) {
      padding-bottom: 20px;
    }

    &-item {
      display: flex;

      &-icon {
        width: 50%;
        width: 36px;
        height: 36px;
        margin-right: 16px;
        @include maxw(768) {
          width: 21.6px;
          margin-right: 13px;
          height: 21.6px;
        }
      }

      & > div {
        color: #000000;
        font-size: 22px;
        font-weight: 400;
        line-height: 36.3px;
        @include maxw(768) {
          font-size: 16px;
          font-weight: 400;
          line-height: 26.4px;
        }
      }
    }

    &-img {
      width: 50%;
      @include maxw(960) {
        margin-top: 16px;
        margin-bottom: 20px;
        padding: 0 !important;
        width: 100%;
      }
    }
  }
}

.bg-green {
  background-color: #00b342;
}

.bg-orange {
  background-color: #e76f15;
}

.bg-orange-light {
  background-color: #f48e1b;
}

.data-txt {
  font-size: 18px;
  font-weight: 600;
  line-height: 26.1px;
  color: white;
  border-radius: 4px;
  min-height: 92px;
}

.data-txt.item {
  padding: 0 8px;
}

.uk-child-width-1-7 > * {
  width: calc(100% / 7);
  min-width: 172px;
}

.uk-width-1-7 {
  width: calc(100% / 7) !important;
  min-width: 142px;
}

.uk-width-2-7 {
  width: calc(100% * 2 / 7) !important;
  min-width: 284px;
}

.uk-child-margin-bottom > :not(:last-child) {
  margin-bottom: 4px;
}
.uk-child-margin-right > :not(:last-child) {
  margin-right: 4px;
}

.scroll-container {
  width: 100%;
  max-width: 1250px;
  overflow-x: auto;
  display: flex;
}

.content-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 4px;
}

@media (max-width: 768px) {
  .scroll-container {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .content-wrapper > div {
    flex: 0 0 auto;
  }
}

.roadmap-content {
  &-container {
    @extend .container;
    @include maxw(1024) {
      padding-right: 0 !important;
    }
  }
  &-title {
    width: 135px;
    margin-right: 24px;

    @include maxw(768) {
      margin-right: 12px;
      width: 111px;
      flex: none;
    }

    &-sub-title {
      font-size: 22px;
      @include maxw(768) {
        font-size: 18px;
      }
    }
  }
}
