.roadmap {
  padding: 100px 0;
  @include maxw(768) {
    padding: 24px 0;
  }
  &-container {
    @extend .container;
    @include maxw(960) {
      padding: 0 !important;
    }
  }
  &-title {
    @extend .commit-title;
    max-width: 962px;
    width: 100%;
    margin-bottom: 24px;
    @include maxw(768) {
      margin-bottom: 4px;
    }
  }
  &-sub-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 34.8px;
    color: #000000a6;

    @include maxw(768) {
      font-size: 16px;
      font-weight: 400;
      line-height: 23.2px;
      color: #000000cc;
    }
  }
  &-content {
    height: 200px;
    background-color: yellow;
    margin: 48px 0 60px 0;
    @include maxw(768) {
      margin: 24px 0;
    }
  }
  &-desc-wrapper {
    position: relative;
    margin-right: 30px;

    & > :not(:last-child) {
      margin-bottom: 23px;
    }

    & :not(:last-child)::after {
      border-left: 2px solid #fdb22480;
      content: "";
      height: 30%;
      left: 17px;
      position: absolute;
      top: 1;
      z-index: -1;
    }

    @include maxw(768) {
      margin-right: 0;
      padding: 0 16px;

      & :not(:last-child)::after {
        border-left: 2px solid #fdb22480;
        content: "";
        height: 30%;
        left: 26px;
        position: absolute;
        top: 1;
        z-index: -1;
      }
    }

    @include maxw(768) {
      & > :not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  &-desc {
    display: flex;
    align-items: center;
    padding-bottom: 60px;

    @include maxw(960) {
      flex-direction: column;
    }

    @include maxw(768) {
      padding-bottom: 20px;
    }

    &-item {
      display: flex;

      &-icon {
        width: 50%;
        width: 36px;
        height: 36px;
        margin-right: 16px;
        @include maxw(768) {
          width: 21.6px;
          margin-right: 13px;
          height: 21.6px;
        }
      }

      & > div {
        color: #000000;
        font-size: 22px;
        font-weight: 400;
        line-height: 36.3px;
        @include maxw(768) {
          font-size: 16px;
          font-weight: 400;
          line-height: 26.4px;
        }
      }
    }

    &-img {
      width: 50%;
      @include maxw(960) {
        margin-top: 16px;
        padding: 0 !important;
        width: 100%;
      }
    }
  }
}
