@import "reset";
@import "base";
@import "global";
@import "mixin";
@import "variables";
@import "hero";
@import "choose";
@import "platform";
@import "review";
@import "feedback";
@import "footer";
@import "student";
@import "roadmap";

html {
  scroll-behavior: smooth;
}

$xs-width: 391px;
$sm-width: 640px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1280px;
$xxl-width: 1410px;

@mixin max-xs {
  @media (max-width: #{$xs-width - 1px}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$sm-width - 1px}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md-width}) and (max-width: #{$lg-width - 1px}) {
    @content;
  }
}
@mixin min-md {
  @media (min-width: #{$md-width}) {
    @content;
  }
}
@mixin max-md {
  @media (max-width: #{$md-width - 1px}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$lg-width}) and (max-width: #{$xl-width - 1px}) {
    @content;
  }
}
@mixin max-lg {
  @media (max-width: #{$lg-width - 1px}) {
    @content;
  }
}
@mixin min-lg {
  @media (min-width: #{$lg-width - 1px}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$xl-width}) and (max-width: #{$xxl-width - 1px}) {
    @content;
  }
}
@mixin max-xl {
  @media (max-width: #{$xl-width - 1px}) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: #{$xxl-width}) {
    @content;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

svg:not(#other-icon) > path {
  fill: currentColor;
}

p {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  @include min-md {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include maxw(768) {
    height: 64px;
  }

  &-logo {
    height: 60px;
    @include maxw(768) {
      height: 48px;
    }
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 4px;
    width: fit-content;
    height: 48px;
    color: white;
    background: radial-gradient(100% 100% at 0% 0%, #ffc007 0%, #ff5723 100%);
    border-radius: 1000px;
    cursor: pointer;
    font-size: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: #f7f7f7;
    }

    @include maxw(768) {
      font-size: 16px;
    }
  }
}

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 52px;
  gap: 4px;
  width: fit-content;
  height: 72px;
  color: white;
  background: radial-gradient(100% 100% at 0% 0%, #ffc007 0%, #ff5723 100%);
  border-radius: 1000px;
  cursor: pointer;
  font-size: 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-decoration: none;
  animation: crescendo 1s alternate infinite ease-in;

  @include maxw(768) {
    font-size: 16px;
  }

  &-big {
    height: 86px;
    padding: 0 61px;
    font-size: 23.82px;
    font-weight: 700;
    line-height: 34.54px;

    @include maxw(768) {
      height: 52px;
      font-size: 16px;
      font-weight: 700;
      line-height: 23.2px;
      color: #ffffff;
    }
  }

  &:hover {
    color: #c8f2ff;
    text-decoration: none;
  }

  @include max-md {
    // padding: 10px 20px;
    height: 52px;
    width: 100%;
  }
}

@keyframes crescendo {
  /*   0%   {transform: scale(.8);} */
  100% {
    transform: scale(1.03);
  }
}

// component 3
.static {
  display: flex;
  justify-content: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/public/static-bg.svg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  padding: 100px 0;

  @include maxw(500) {
    background-image: url(/public/static-mobile-bg.svg);
    background-size: cover;
  }

  &-background {
    position: absolute;
    top: 0;
    left: 0%;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
  @include max-md {
    padding: 20px 0;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;

    @include max-md {
      padding: 0 34px;
    }
  }

  &-title {
    color: #ff7324;

    font-size: 64px;
    font-weight: 800;
    line-height: 92.8px;
    text-align: center;

    @include max-md {
      font-size: 24px;
      font-weight: 800;
      line-height: 34.8px;
    }
  }
  &-desc {
    font-size: 30px;
    font-weight: 600;
    line-height: 43.5px;
    text-align: center;
    color: #000000;

    @include max-md {
      font-size: 11px;
      font-weight: 600;
      line-height: 15.95px;
      text-align: center;
    }
  }
}

// Components 3
.reasons {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;

  &-wrapper {
    position: relative;
  }

  &-title {
    display: flex;
    justify-content: center;

    &-wrapper {
      max-width: 880px;
      padding: 80px 0 46px;
      & > :not(:last-child) {
        margin-bottom: 12px;
      }
      @include max-md {
        padding: 32px 0 16px;
      }
    }
  }
  &-image {
    margin: 0 28px;
  }
  &-desc {
    font-size: 28px;
    font-weight: 600;
    line-height: 40.6px;
    text-align: center;
    color: black;

    @include max-md {
      font-size: 18px;
      font-weight: 500;
      line-height: 26.1px;
      text-align: center;
      color: #000000cc;
    }
  }

  &-card {
    background-color: white;
    border-radius: 8px;
    height: 100%;
    &-img {
      max-height: 253px;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      width: 100%;
      object-fit: cover;
      @include max-md {
        max-height: 204px;
      }
    }
    &-title {
      font-size: 24px;
      font-weight: 700;
      line-height: 34.8px;
      letter-spacing: -0.02em;
      min-height: 70px;
      background: radial-gradient(100% 100% at 0% 0%, #ffc007 0%, #ff5723 100%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      @include max-md {
        color: #000000cc;
        font-size: 20px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: -0.02em;
        min-height: 26px;
      }
    }
    &-desc {
      & :not(:last-child) {
        margin-bottom: 16px;
      }
      margin-top: 22px;
      font-size: 20px;
      font-weight: 500;
      line-height: 33px;
      letter-spacing: -0.02em;

      @include max-md {
        font-size: 15px;
        font-weight: 500;
        line-height: 21.75px;
        letter-spacing: -0.02em;
      }
    }
  }
}

.icon-max-md {
  z-index: 10;
  @include max-lg() {
    display: none;
  }
}

.bg-pattern {
  background-image: url(/public/bg.png);
  background-repeat: repeat-y;
  width: 100%;
  background-size: contain;
}

// Chip Chip cam kết
.commit {
  width: 100%;
  @include min-lg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-wrapper {
    padding: 24px 0;
    background-image: url(/public/commit-mobile-bg.svg);
    width: 100%;
    background-size: cover;

    width: 100%;
    @include minw(694) {
      padding: 100px 0;
      background-image: url(/public/commit-bg.svg);
      width: 100%;

      background-size: cover;
    }
  }
  &-image {
    width: 100%;
    max-height: 764px;
    height: 100%;
    object-fit: contain;

    @include min-md {
      max-width: 562px;
      margin-right: 30px;
      width: 100%;
    }
  }

  &-desc {
    font-size: 28px;
    font-weight: 500;
    line-height: 40.6px;
    text-align: center;
    color: #000000cc;
    margin-top: 11px;
    margin-bottom: 12px;

    @include max-md {
      font-size: 16px;
      font-weight: 400;
      line-height: 23.2px;
      text-align: center;
      margin-top: 4px;
    }
  }

  &-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 64.8px;
    text-align: center;
    color: #000000;

    @include maxw(768) {
      margin-top: 12px;
      font-size: 22px;
      font-weight: 700;
      line-height: 29.7px;
      text-align: center;
    }
  }

  &-content {
    &-item {
      display: flex;
      align-items: center;
      padding: 6px 32px;
      @include max-md {
        padding: 9px 12px;
      }
    }
    &-icon {
      width: 48px;
      height: 48px;
      margin-left: -6px;

      @include max-md {
        margin-left: 8px;
        width: 32px;
        height: 32px;
      }
    }
    &-desc {
      font-size: 24px;
      font-weight: 600;
      line-height: 34.8px;
      color: rgba(0, 0, 0, 0.9);
      margin-left: 24px;

      @include max-md {
        margin-left: 8px;
        font-size: 16px;
        font-weight: 600;
        line-height: 23.2px;
        color: rgba(0, 0, 0, 1);
      }
    }
    &-number {
      font-family: "Lato";
      font-style: normal;
      font-weight: 900;
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 86px;
      line-height: 124.7px;
      text-align: center;
      background: radial-gradient(
        100% 100% at 0% 0%,
        rgba(255, 192, 7, 0.2) 0%,
        #ff5723 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;

      @include max-md {
        font-size: 36px;
        line-height: 52.2px;
      }
    }
  }
}

// Component 6 Truyền thông đưa tin về
.communication {
  &-circle {
    position: absolute;
    bottom: -40px;
    right: -40px;
    z-index: -1;
  }

  &-wrapper {
    padding: 100px 0;
    background: linear-gradient(
      103.71deg,
      rgba(253, 221, 174, 0.1) 4.11%,
      rgba(249, 160, 45, 0.1) 90.92%
    );
    overflow: hidden;
    position: relative;

    @include maxw(768) {
      padding: 24px 0;
    }
  }

  &-title {
    @extend .commit-title;
    padding-bottom: 48px;
    @include maxw(768) {
      padding-bottom: 18px;
    }
  }

  &-image {
    @extend .reasons-image;
    width: 100%;
  }
  &-brands {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    & > :not(:last-child) {
      margin-right: 26px;
    }
    @include min-md {
      & > :not(:last-child) {
        margin-right: 48px;
      }
    }

    &-item {
      @include max-md {
        height: 21px;
      }
    }
  }
  &-content {
    width: 100%;
    padding-top: 48px;
    @include maxw(768) {
      padding-top: 24px;
    }
  }
  &-btn {
    height: 74px;
    padding: 0 32px;
    position: absolute;
    bottom: 0;
    color: white;
    left: 0;
    background-color: rgba(63, 165, 3, 1);

    font-size: 18px;
    font-weight: 400;
    line-height: 26.1px;

    @include max-md {
      font-size: 12px;
      font-weight: 400;
      line-height: 17.4px;
      padding: 0 16px;
      height: 41px;
    }
  }
}

// component 8 register
.register {
  &-wrapper {
    z-index: 9;
    padding: 100px 0;
    background: #0aa807;

    @include maxw(768) {
      padding: 24px 0;
    }
  }
  z-index: 1;

  &-background {
    position: absolute;
    top: 0;
    left: 0%;
    opacity: 0.1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
    background: #0aa807;
  }
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 100%;

  @include max-lg {
    display: block;
  }

  &-content {
    flex: 1 1 0%;
    flex: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 48px;
    @include md {
      width: 100%;
      padding: 48px;
    }
    @include max-md {
      width: 100%;
      padding: 20px;
    }
  }

  &-title {
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: -0.025em;
    color: black;

    @include max-md {
      font-size: 23px;
      font-weight: 700;
      line-height: 33.35px;
    }
  }
  &-img {
    flex: 1 1 0%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex: none;
    width: 50%;

    @include max-lg {
      width: 100%;
      border-bottom-left-radius: none;
      border-top-right-radius: 8px;
      max-height: 400px;
      object-fit: cover;
    }
  }
  &-form {
    margin-top: 30px;
    @include maxw(768) {
      margin-top: 24px;
    }
    background-color: white;
    & > :not(:last-child) {
      margin-bottom: 14px;
    }
    & > :last-child {
      margin-top: 25px !important;
    }
    &-select {
      display: flex;
      width: 100%;
      align-items: center;
      padding: 0 24px;
      height: 60px;
      justify-content: space-between;
      background-color: transparent;
      border: 1px solid rgba(235, 236, 240, 1);
      color: rgba(0, 0, 0, 0.6);
    }

    &-label {
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 6px;
      color: #13161a;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    &-input {
      padding: 0 24px;
      height: 60px;
      border-radius: 9999px;
      border: 1px solid rgba(235, 236, 240, 1);
      ::placeholder {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

.bg-bottom {
  color: white;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(96.41deg, #6fca14 5.05%, #32ca14 96.09%);
  padding: 100px 0;
  position: relative;
}

// footer
.footer__list-link > li > a {
  color: #565656;
  font-size: 0.875rem;
}

#footer .uk-background-muted {
  background-color: #f7f7f7;
}

.footer__title {
  font-family: "iCiel Graphik Medium", sans-serif;
  color: #171717;
  font-size: 0.875rem;
}

.footer__title--fz-24 {
  font-size: 15.75px;
}

@media screen and (min-width: 375px) {
  .footer__title--fz-24 {
    font-size: calc(15.75px + 5.25 * ((100vw - 375px) / 825));
  }
}

@media screen and (min-width: 1200px) {
  .footer__title--fz-24 {
    font-size: 21px;
  }
}

.is-max-md {
  @include min-md {
    display: none;
  }

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// box chat
.box-chat {
  position: fixed;
  z-index: 99;
  right: 90px;
  width: 56px;
  bottom: 60px;

  & > :not(:last-child) {
    margin-bottom: 16px;
  }

  @include maxw(960) {
    right: 15px;
    bottom: 30px;
  }

  &-item {
    width: 56px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);

    @include maxw(960) {
      width: 40px;
      aspect-ratio: 1 / 1;

      & > img {
        width: 20px;
        aspect-ratio: 1 / 1;
      }
    }
  }
}
